.pin-pad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  direction: rtl;
  .circle {
    color: #ccc;
    border: 2px solid #7c9bf9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    font-size: 1.6rem;
    position: relative;
    padding: 2rem;
    box-sizing: border-box;
    &:hover {
      color: white;
      background: rgba(124, 155, 249, 0.3);
    }
    &:active {
      background: rgba(124, 155, 249, 0.6);
    }
    &:last-child {
      grid-column-start: 2;
    }
  }
}
