.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    .text {
      font-size: 2rem;
    }
  }
  .footer {
    user-select: none;
    margin-top: 60px;
  }
}
